@font-face {
    font-family: CODE;
    src: url(../fuentes/CODE.otf);
}

@font-face {
    font-family: CODEb;
    src: url(../fuentes/CODEb.otf);
}

*{
    padding: 0px;
    margin: 0px;
}

body{
    background: linear-gradient(to bottom, #E0ECF8, #F5F9F4);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 37px;
    margin: 10px;
    font-size: 22px;
    font-family: CODE;
}

.principal{
    margin:0px;
    width: 100%; 
}

.logo{
    width: 50px;
    height: 50px;
    position: fixed;
    left: 20px;
    top: 17px;
}

.int{
    font-family: CODEb;
    font-weight: bold;
}

ul{
    list-style: none;
}

.menu li a{
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    padding-top: 23px;
    display: block;
    text-align: center;
    width: 307.2px; 
    height: 30px;
}

.menu li a:hover{
    color: black;
    background-color: rgb(190, 229, 214);
}

.menu > li{
    float:left;
}

.menu li ul{
    display: none;
    position: fixed;
    min-width: 140px;
}

.menu li:hover > ul{
    display: block;
    background-color: rgba(223, 247, 192, 0.842);
    
}

.menu li ul {
    position: fixed;
}

.menu li ul li ul{
    right: 855px;
    top: 199px;
}

.texto{
    border: 0px solid blanchedalmond;
    width: 640px;
    height: 420px;
    position: absolute;
    top: 180px;
    font-family: Verdana;
    z-index: -1000;
    margin: 10px 70px;
}

.alcobendas{
    position: absolute;
    top: -40px;
    opacity: 0.3;
    z-index: -1000;
}

iframe{
    position: absolute;
    left: 660px;
    top: 140px;
    z-index: -1000;
    margin-left: 70px;
}